
<div class="container-fluid" id="social">
        
            
              
                    <div class="navbar">
                        <a href="#"><i class="fas fa-phone-alt fa-lg"></i>(00)000 111 2222</a>
                        <a href="#"><i class="fas fa-envelope fa-lg"></i>example@example.com</a>
                       
                        <ul class="nav navbar-nav navbar-right">
                            <a href="#"> <i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </ul>
                </div>
            
</div>

        <div class="container-fluid" id="nav-top">
            <div class="navbar-header">
                  <img [src]="myimage" alt="" id="system">
                   <a class = "system-text"> Patient System</a>
            </div>

        <div class="first">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="" class="nav-item">Home</a></li>
                <li><a href="" class="nav-item">Services</a></li>
                <li><a href="" class="nav-item">Success Stories</a></li>
                <li><a href="" class="nav-item">Download App</a></li>
                <li><a href="" class="nav-item">About Us </a></li>
                <li><a routerLink="/login" routerLinkActive="active" class="nav-item">Login</a></li>
          </ul>
        </div>       
        </div>
    <!-- Title & Description -->
    <div class="container-fluid">

        <div class="banner">          
            <div class="banner-overlay">
                <div class="row">
                <h1>Lorem Ipsum is simply dummy text</h1>
                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a gallery of type  and scrambled it to make a type specimen
                    book.
                </p>
                <br><br>
        </div>
                 <div class="container-fluid">
                <div class="header-btns">           
                    <button type="button" class="btn btn-download">Lorem Ipsum</button>
    
                    <button type="button" class="btn btn-tour">Lorem Ipsum</button>
                </div>
                </div>
               
            <!--Pc image-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-md-offset-1">
                    <div class="section-title">
                        <img [src]="mypc" alt="" id="pc">
                    </div>
                    </div>
                   </div>


                </div>
            </div>
            </div>
            <!--content-->
            <div class="container-fluid">
                <div class="row">

                    <!--Left content-->
                    <div class="col-md-6">
                        <div class="left-item">
                            <div class="left-item-icon">
                                <i class="far fa-envelope fa-lg"></i>    <strong id="left-text">Lorem Ipsum</strong>
                            </div>
                            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard
                                dummy text.</p>
                        </div>

                        <div class="left-item">
                            <div class="left-item-icon">
                                <i class="fas fa-map-marker-alt fa-lg"></i>   <strong id="left-text">Lorem Ipsum</strong>
                            </div>
                        
                            <p>Lorem ipsum is simply dummy text of the printing and typesetting.</p>
                        </div>

                        <div class="left-item">
                            <div class="left-item-icon">
                                <i class="far fa-sticky-note fa-lg"></i>    <strong id="left-text">Lorem Ipsum</strong>
                            </div>
                       
                            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard
                                dummy text.</p>
                        </div>
                    </div>

                    <!--right content-->

                       <div class="col-md-6">
                        <div class="right-item">
                            <div class="right-item-icon">
                                <i class="fas fa-envelope-open fa-lg"></i>    <strong id="right-text">Lorem Ipsum</strong>
                            </div>
                            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard
                                dummy text</p>
                        </div>

                        <div class="right-item">
                            <div class="right-item-icon">
                                <i class="fas fa-cog fa-lg"></i>   <strong id="right-text">Lorem Ipsum</strong>
                            </div>
                        
                            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard
                                dummy text</p>
                        </div>

                        <div class="right-item">
                            <div class="right-item-icon">
                                <i class="fas fa-bell fa-lg"></i>    <strong id="right-text">Lorem Ipsum</strong>
                            </div>
                       
                            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard
                                dummy text</p>
                        </div>
                    </div>

                </div>
            </div>
            <br>

          

     <app-header-second></app-header-second>