*{
    margin: 0;
    padding: 0;
}
.fas{
    color: white;
    font-size: 15px;
    padding-right: 10px;
}
.navbar {
    padding-left: 15%;
    padding-right: 13%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 0px !important;
    min-height: auto !important;
    width: 100%;
    background-color: #08225a;
  }
  
  .navbar a {
    border-left: 0.1px white solid;
    border-right: 0.2px white solid;
    height: 100%;
    padding: 12px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
   font-family: "Roboto" !important;
   font-style: "none" !important;
  }
  
#system{
    color: rgb(47, 47, 218);
}
.system-text{
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #08225a;
    font-weight: 600;
    font-family: "Roboto";
}

#nav-top{
    padding-left: 14%;
    padding-right: 12%;
    background-color: white !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-item{
    font-weight: 600;
    color: #08225a;
    padding: 9px 25px;
    border-radius: 4px 4px 4px 4px;
}
.nav-item:hover{
    background-color: rgb(14, 19, 85);
    color: white;
}
.banner{
    position: relative;
    width: 90%;
    margin: auto;
}
.banner img{
    width: 100%;
}
h1{
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 60px;
    text-align: center;
}
.banner-overlay p{
    color: #fff;
    margin: auto;
    width: 80%;
    font-size: 17px;
    line-height: 28px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    font-weight: 200;
    text-align: center;
}
.banner{
    background-image: url("/assets/img/doctor.jpg");
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner-overlay {
    background-image: linear-gradient(0deg, #000428 0%, #004e92 100%);
    height: 700px;
}
.header-btns {
    text-decoration: none;
    padding: 15px 35px;
    display: block;
    text-align: center;
}
.btn-download{
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.2));
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
}
.btn-tour{
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.2));
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
    color: white;
    margin-left: 20px;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
}
.section-title{
  padding-right: 32%;
  padding-left: 32%;
  padding-top: 50px;
}
.left-item p{
    position: relative;
    color: black;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.left-item-icon{
    margin-left: 5px;
    color: darkblue;
    padding-bottom: 15px;
    padding-top: 50px;
    padding-left: 22%;
    padding-right: 90px;
}
.left-item-icon .fas{
    border-radius: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
}
.left-item-icon .far{
    border-radius: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
}
#left-text{
    padding-left: 10px;
    font-size: 15px;
}
/*right content */
.right-item p{
    position: relative;
    color: black;
    padding-left: 5%;
    padding-right: 30%;
    text-align: center;
}
.right-item-icon{
    margin-left: 5px;
    color: darkblue;
    padding-bottom: 15px;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 90px;
}
.right-item-icon .fas{
    border-radius: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
}
.right-item-icon .far{
    border-radius: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
}
#right-text{
    padding-left: 10px;
    font-size: 15px;
}



