<div class="about-us">
<div class="container">
        
    <div class="row">
        <!--Left-->
        <div class="col-md-4">  
<div class="about">
<h5><strong>About Us</strong></h5>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque porro eum, voluptas fugiat ad, eius voluptatum commodi dolores iste cupiditate corporis? Id provident iure nam earum veniam velit doloribus minus! Lorem ipsum dolor sit amet comodo consequat.</p>
</div>
            </div>

            <!--middle-->
            <div class="col-md-4">
                <div class="call-us">
                    <h5><strong>Call Us</strong></h5>
                    <p>(00) 000 000 0000</p>
                </div>

                <div class="call-us">
                    <h5><strong>Send Us Mail</strong></h5>
                    <p>example@example.com</p>
                </div>
            </div>

               <!--right-->
               <div class="col-md-4">
                   <div class="in-touch">
                       <h5><strong>Keep In Touch</strong></h5>
                    <a href="#"> <i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                   </div>
               </div>

            </div>
            </div>
            </div>
            <!--footer section-->
            <div class="container">
                <div class="row">
                
                    <div class="col-md-12">
                    
                        <div class="footer">
                        
                            <ul>
                                <li><a href="" class="footer-item">Home</a></li>
                                <li><a href="" class="footer-item">Services</a></li>
                                <li><a href="" class="footer-item">Success Stories</a></li>
                                <li><a href="" class="footer-item">Download App</a></li>
                                <li><a href="" class="footer-item">About Us </a></li>
                                </ul>

                                </div>
                                </div>
                                </div>
                                </div>
                                <hr>
                                <!--copy right-->
                                
               <div class="container">
            
                <div class="row">
                
                    <div class="col-md-12">
                    
                        <div class="copyright">
                            <p>&copy; 2020 Patient System. All Rights Reserved.</p>
                        </div>
                    </div>
            
                
                </div>
            
            </div>
        