.about-us{
    padding-top: 50px;
}
h5{
    color: darkblue;
}
p{
    color: grey;
}
.call-us{
    padding-top: 10px;
}
.fab{
    padding-right: 20px;
    color: grey;
}
.footer{
    padding-top: 30px;
}
.footer ul {
    margin:0;
    padding: 0;
    text-align: center;
    
}
.footer ul li { 
    list-style: none;
    display: inline;
    padding-left: 20px;
}
.footer-item{
    color: darkblue;
}
.copyright{
    text-align: center;
    padding-bottom: 10px;
}
hr{
    border: .1px solid rgb(218, 213, 213);
    margin-left: 13%;
    margin-right: 13%;
}
.copyright p{
    font-size: 12px;
    color: darkblue;
}
