
    <div class="container" id="system">
    <h4>Login to your Account</h4>
   <br><br>          
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" placeholder="    Email Address" name="email">
                </div>
                <br>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" placeholder="    Password" name="password">
                </div>
                <h5 class="fourth">
                 <input type="checkbox">
                    Remember me
                </h5>
              <a routerLink="/patient" routerLinkActive="active" class="btn btn-block btn">LOGIN</a>
           
                </div>                                                          