*{
    margin: 0;
    padding: 0;
}
#system{
    width: 400px;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    text-align: center;
    box-shadow: 5px 5px 45px -5px grey;
    border-radius: 10px;
}
h4{
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
}
.check{
    left: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
.btn{
    color: white;
    background-color: RebeccaPurple;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fourth{
    opacity: 0.5;
    padding-right: 160px;
    padding-top: 10px;
    padding-bottom: 20px;
}