body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rebeccapurple;
    margin-bottom: -1px;
    border-radius: 0%;
}
.navbar-left{
    padding: 3px 20px 3px 20px;
    margin-top: 10px;
    background-color: white;
    color: rebeccapurple;
    border-radius: 10px;
}
.fas{
    color: white;
    margin-top: 15px;
    margin-right: 30px;
}
.profile-picture{
    margin-left: 55px;
    width: 60px;
    height: 55px;
    border-radius: 30px;  
    margin-bottom: 10px;  
}
.text{
    text-align: center;
    color: rebeccapurple;
}
.wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: whitesmoke;
    padding: 30px 0px;
    position: fixed;
  }
  .wrapper .sidebar {
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar a{
    position: relative;
    color: #9692ad;
    display: block;
  }
  
  .wrapper .sidebar a .fas{
    padding-left: 35px;
    color: gray;
    padding-bottom: 5px;
  }
   
  .wrapper .sidebar a:hover {
    background-image: linear-gradient(90deg, #3447f8 0%, #011e35 100%);
    color: whitesmoke;
    border-radius: 0 20px 20px 0;
  }
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: darkblue;
    border-bottom: 1px solid #e0e4e8;
    font-size: 16px;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }
  .content-2{
    padding-top: 25px;
    background-color: #ececec;
    min-height: 83vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
.content-2 .patient-details{
    min-height: 50vh;
    flex: 4;
    background: white;
    margin-left: 20px;
    margin-right: 6px;
    border-radius: 10px;
}
.content-2 .patient-list{
    flex: 4;
    background: white;
    margin-left: 6px;
    margin-right: 20px;
    min-height: 50vh;
    border-radius: 10px;
}
.title{
    align-items: center;
    color: darkblue;
    padding-top: 5px;
    padding-left: 20px;
}

#box{
    color: rebeccapurple;
    margin-left: 1px;
    margin-right: 1px;
}
.btn{
    color: white;
    background-color: rebeccapurple;
    border-radius: 20px;
    margin-left: 15px;
    padding-left: 18px;
    padding-right: 18px;
}
#title-2{
    align-items: center;
    color: darkblue;
    padding-top: 5px;
    padding-left: 20px;
    margin-bottom: -10px;
}
#box-2{
    align-items: center;
    color: darkblue;
}
#search{
    margin-top: 7px;
    padding-left: 55px;
}
#border-first{
    font-weight: bold;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(233, 233, 233);
}
#border-second{
    padding-top: 15px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid whitesmoke;
}
.far{
    font-size: 15px;
    color: white;
    background-color: rebeccapurple;
    border-radius: 40px;
    margin-left: 5px;
    padding: 5px;
}