 <nav class="navbar">
<div class="container-fluid">
        <div class="navbar-header">
        <a href="#" class="navbar-left">Patient System</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <a href=""><i class="fas fa-envelope"></i></a>
        <a href=""><i class="fas fa-bell"></i></a>
        <a href=""><i class="fas fa-user-circle"></i></a>
    </ul>
</div>
</nav> 

<!--side nav-->
         <div class="wrapper">
            <div class="sidebar">
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <img [src]="profile" class="profile-picture">
                <h4 class="text"><strong>Lorem Ipsum</strong></h4>
                <h6 class="text"><strong>Admin</strong></h6>
                
                    <a href="header"><i class="fas fa-user-injured"></i>Patient</a>
                   <br>
                    <a href="header"><i class="fas fa-user"></i>Logout</a>
                
            </div>
            </div>



            <!--second header-->
            <div class="main_content">
                <div class="header"><strong>Patient Dashboard</strong></div>  
               
               <!--Main content-->
                <div class="content-2">
                    <div class="patient-details">
                     <div class="title">
                         <h5><strong>Patient Details</strong></h5>
                     </div>
                     <hr>
                <!--Detail-->
                <div class="row g-4" id="box">
                    <div class="col-sm-4">
                        First Name
                      <input type="text" class="form-control">
                    </div>
                   
                    <div class="col-sm-4">
                        Last Name
                      <input type="text" class="form-control">
                    </div>
                  
                    <div class="col-sm-4">
                        Phone
                      <input type="number" class="form-control">
                    </div>
                  </div>
                  <br>
                  <!--2nd line detail-->
                  <div class="row g-4" id="box">
                    <div class="col-sm-4">
                        Email
                      <input type="email" class="form-control">
                    </div>
                   
                    <div class="col-sm-4">
                        Adress Line 1
                      <input type="text" class="form-control">
                    </div>
                  
                    <div class="col-sm-4">
                        Adress Line 2
                      <input type="text" class="form-control">
                    </div>
                  </div>
                   <br>
                  <!--3rd line details-->
                  <div class="row g-4" id="box">
                    <div class="col-sm-4">
                        City
                      <input type="text" class="form-control">
                    </div>
                   
                    <div class="col-sm-4">
                        State
                      <input type="text" class="form-control">
                    </div>
                  
                    <div class="col-sm-4">
                        Zipcode
                      <input type="number" class="form-control">
                    </div>
                  </div>
                   <!--Button-->
                   <br>
                   <a href="#" class="btn">ADD</a>

                    </div>
                         <!--Right side box-->
                        <div class="patient-list">
                            <div class="container-fluid" id="title-2">
                                <div class="row g-7">
                                    <div class="col-sm-7" id="box-2">
                                        <h5><strong>Patient List</strong></h5>
                                    </div>
                                   
                                    <div class="col-sm-5" id="search">
                                      <input type="text" placeholder="Search by First Name">
                                    </div>
                                  </div>
                            </div>
                            <hr>
                            
                            <!--Main content-->
            <div class="row g-12" id="border-first">
                <div class="col-sm-3">
                    First Name
                </div>
                <div class="col-sm-3">
                    Last Name
                </div>
                <div class="col-sm-3">
                    Address
                </div>
                <div class="col-sm-3">
                    Action
                </div>
                
            </div>
            <!--second line-->
            <div class="row g-12" id="border-second">
                <div class="col-sm-3">
                    Lorem
                </div>
                <div class="col-sm-3">
                    Ipsum
                </div>
                <div class="col-sm-3">
                   Lorem Ipsum is a dummy text.
                </div>
                <div class="col-sm-3">
                    <a href="#"><i class="far fa-eye"></i></a>
                    <a href="#"><i class="far fa-edit"></i></a>
                    <a href="#"><i class="far fa-times-circle"></i></a>
                </div>
                
            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Chat-->
    