  <!--Service-->
  <section class="features" id="FEATURES">
            
    <div class="container">
    
        <div class="row">
        
        
            <div class="col-md-10 col-md-offset-1" id="service-text">
            
                    <h1> <strong>Services</strong></h1>
                    
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard
                        dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled it to make a type specimen book.</p>
                
            </div>
        
        </div>
    </div>
    
    <hr>
  

    <!--Lorem-->
    <div class="container">
    
        <div class="row">
        
        
            <div class="col-md-10 col-md-offset-1" id="text">
            
                
                
                    <h3> <strong>Lorem Ipsum</strong></h3>
                    
            
            </div>
            
        
        </div>
        </div>
    

    <div class="features-inner-wrapper">
    
        <div class="container">
        
            <div class="row">
            
                <!--left-content-->
                <div class="col-md-4">

                    <div class="left-item">
                        <div class="left-item-icon">
                            <i class="far fa-user fa-lg"></i>
                        </div>
                        <h4> Lorem Ipsum </h4>
                        <p>Lorem ipsum is simply dummy text of the printing</p>
                    
                    </div>
                    
                    
                     <!-- left item 02 -->
                    <div class="left-item">
                        <div class="left-item-icon">
                            <i class="far fa-address-card fa-lg"></i>
                        </div>    
                        <h4> Lorem Ipsum </h4>
                        <p>Lorem ipsum is simply dummy text of the printing</p>
                    
                    </div>
                    
                     <!-- left item 03 -->
                    <div class="left-item">
                        <div class="left-item-icon">
                             <i class="fas fa-map-marker-alt fa-lg"></i>   
                        </div>
                        <h4> Lorem Ipsum</h4>
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                
                
                </div>
                
                <!--middle content-->
                <div class="col-md-4">
                
                        <div class="feature-middle">          
                    
                        </div>
                
                </div>


                
                    <!-- right item 01 -->
                <div class="col-md-4">
                
                    <div class="right-item">
                    
                        <!-- Icon -->
                        <div class="right-item-icon">
                            <i class="far fa-check-square fqa-lg"></i>
                        
                        </div>
                  
                        <h4> Lorem Ipsum </h4>
                        
                        <p>Lorem ipsum is simply dummy text of the printing.</p>
                        
                    
                    </div>
                    
                    
                    
                     <!-- right item 02 -->
                    <div class="right-item">
                    
                        <!-- Icon -->
                        <div class="right-item-icon">
                            <i class="fas fa-sign-in-alt fa-lg"></i>
                        
                        </div>
                        
                    
                        <h4> Lorem Ipsum </h4>
                        
                        <p>Lorem ipsum is simply dummy text of the printing.</p>
                        
                    
                    </div>
                    
                    
                     <!-- right item 03 -->
                    <div class="right-item">
                    
                        <!-- Icon -->
                        <div class="right-item-icon">
                            <i class="far fa-sticky-note fa-lg"></i>
                        
                        </div>
                        
                        
                        <h4> Lorem Ipsum </h4>                        
                        
                        <p>Lorem ipsum is simply dummy text of the printing.</p>
                        
                    
                    </div>
                
                </div>
                    
            </div>
        
        </div>
    
    </div>
    </section>

<app-about-us></app-about-us>