.features{
  background-color: whitesmoke;
  padding-top: 30px;
}
#service-text p{
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}
h1{
    text-align: center;
    color: darkblue;
}
hr{
    border: .1px solid rgb(218, 213, 213);
    margin-left: 13%;
    margin-right: 13%;
}
.features-inner-wrapper {
    padding-top: 30px;
    padding-bottom: 70px;
}
.left-item {
    position: relative;
    text-align: right;
    margin-top: 35px;
    margin-bottom: 50px;
}
.left-item h4 {
    font-weight: 700;
    color: darkblue;
}
.left-item p {
    color: #333;
    line-height: 25px;
}
.left-item-icon .fas{
    color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
}
.left-item-icon .far{
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
}
/* right content */
.right-item {
    position: relative;
    margin-top: 35px;
    margin-bottom: 50px;
}
.right-item h4 {
    font-weight: 700;
    color: darkblue;
}
.right-item p {
    color: #333;
    line-height: 25px;
}
h3{
        text-align: center;
        color: darkblue; 
}
.feature-middle{
    width: 80%;
    background-color: white;
    min-height: 60vh;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 40px;
    box-shadow: 4px 4px 10px gray;
}
.right-item-icon .fas{
    color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
}
.right-item-icon .far{
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-image: linear-gradient(to right, rgb(46, 46, 255) , RebeccaPurple) !important;
}